body {
    background-color: #111A2D;
    font-family: 'Arial', serif;
    margin: 0;
}

#calculator {
    border: 1px solid #a5a5a5;
    border-radius: 20px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 6rem 6rem 6rem 6rem;
    padding: 3rem;
    width: fit-content;   
}

button {
    background-color: #e5e5e5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    height: 6rem;
    padding: 1rem;
}

button:hover {
    background-color: #fff;
    border: 2px solid rgb(223, 84, 212);
}

button#zero {
    border-radius: 6rem;
    grid-column: 1 / span 2;
} 

.operator {
    background-color: rgb(223, 84, 212);
}

.operator:hover {
    background-color: rgb(243, 89, 230);
    border: 2px solid #d2d0d0;
}

#display {
    border-bottom: 1px solid #a5a5a5;
    color: #e5e5e5;
    font-size: 8rem;
    grid-column: 1 / span 4;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: right;
}


main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
}